include includes/head.pug
script(src="https://www.google.com/recaptcha/api.js" async defer)
body
    .section.container
        .content
            a(href='banano:' + faucetAddress)  Click to donate in Banano wallet
            p Faucet address: #{faucetAddress}
            p Current faucet balance: #{bananoBalance} BAN
            p Current reward rate: 1 Banana = #{faucetReward} BAN maximum
            p You can claim once every #{cooldown/(1000*60)} minutes.
            p This is a Banano faucet that requires you to take an original picture of a banana.
            p The more confident the AI is that it sees a banana, the more BAN you will receive. Try to keep the banana as the main focus of the image.
            p It also doesn't like ripe or discolored bananas. For best results, use good lighting, and take square (1:1 aspect ratio) pictures.
            i Do not try to cheat the faucet. Wait patiently, or get banned. 
            i Images are checked manually. If you post images from the Internet, you will be banned.
        form(method='POST' action='/' enctype="multipart/form-data")
            .box
                .field
                    label.label Banano Address
                    .control.has-icons-left
                        input.input(name='address' type='text' placeholder=faucetAddress)
                        span.icon.is-small.is-left
                            i.fas.fa-qrcode
                    p.help Don't worry if you mistype it. The faucet double-checks.

                .field
                    label.label Banana Photo
                    #fileInput.file.has-name.is-fullwidth
                        label.file-label
                            input.file-input(name="image" type="file" accept="image/png, image/jpeg")
                            span.file-cta
                                span.file-icon
                                    i.fa-solid.fa-image
                                span.file-label Choose…
                            span.file-name
                    p.help Accepts PNG and JPG. Anything else will fail.
                    p.help 10MB maximum. 750KB minimum. A PNG photo you take with your phone should be big enough.

                .g-recaptcha(data-sitekey=recaptchaSiteKey)

                .control.mt-3
                    button.button.is-primary Submit (may take a few seconds)

    .section.container
        .content
            iframe(data-aa='2313529' src='//ad.a-ads.com/2313529?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;')

include includes/footer.pug

script.
    const fileInput = document.querySelector('#fileInput input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#fileInput .file-name');
        fileName.textContent = fileInput.files[0].name;
        }
    }
