include includes/head.pug
script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/dayjs.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/plugin/relativeTime.min.js')
body
    .section.container
        .content
            p(id='msgBody')
            p Total claims: #{totalClaims}
            p Total sent: #{totalSent} BAN
            p Duplicate images received: #{totalDupes}
            p Donations received: #{totalDonations}
            p Main page visits: #{totalVisits}
            p Unique addresses that claimed from this faucet: #{totalAddresses}
            p Banned addresses: #{bannedAddresses}

script.
    dayjs.extend(window.dayjs_plugin_relativeTime)
    const lastClaimRelative = dayjs(#{lastClaim}).fromNow()
    document.getElementById('msgBody').textContent = 'Last claim: ' + lastClaimRelative

include includes/footer.pug
