include includes/head.pug
body
    .section.container
        .content
            p Last claim: #{lastClaim}
            p Total claims: #{totalClaims}
            p Total sent: #{totalSent} BAN
            p Duplicate images received: #{totalDupes}
            p Donations received: #{totalDonations}
            p Main page visits: #{totalVisits}
            p Unique addresses that claimed from this faucet: #{totalAddresses}
            p Banned addresses (tried to cheat): #{totalBanned}

include includes/footer.pug
