include includes/head.pug
body
    .section.container
        article.message.is-success
            .message-header
                p Your Banano has been sent.
            .message-body
                span.icon-text
                    span.icon
                        i.fa-solid.fa-qrcode
                    span Transaction ID: 
                        a(href=`https://creeper.banano.cc/hash/${transactionId}`) #{transactionId}
                br
                span.icon-text
                    span.icon
                        i.fa-solid.fa-paper-plane-top
                    span Sent #{amount} BAN to address #{address}
                br
                span.icon-text
                    span.icon
                        i.fa-solid.fa-microchip-ai
                    span Image classification result: 
                br
                p #{JSON.stringify(result[0])}
                p #{JSON.stringify(result[1])}
                p #{JSON.stringify(result[2])}

include includes/footer.pug